html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.chart-container {
 height: 30em;
 width: 70vw;
 position: relative;
 margin: 0 auto;
}

@media (max-width: 1024px) {
  .chart-container {
    height: auto;
    width: auto;
  }
}

.container {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.79), rgba(0,0,0,0.85)), url('../img/app-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
}

@media (max-width: 1024px) {
  .container {
    justify-content: space-around;
  }
}


.addData-label {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0 5px 0 5px;
  font-size: 0.9rem;
}

.addData-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addData-form > div {
  margin: 5px 0;
}


.addData-inputField {
  width: 40px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.addData-inputField:focus {
  background: rgba(255, 255, 255, 0.171);
}

.addData-inputField:required {
  border-bottom-color: rgb(145, 236, 145);
}

.addData-inputField:invalid {
  border-bottom-color: rgb(231, 94, 79);
}

.addData-submitBtn {
  background: transparent;
  border: 1px solid #fff;
  margin: 20px 0 0 0;
  color: #fff;
  font-size: 1em;
  padding: 6px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.addData-submitBtn:hover {
  background: rgba(255, 255, 255, 0.171);
}

.addData-submitBtn:focus {
  background: rgba(255, 255, 255, 0.301);
}

.addData-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(107, 107, 107, 0.6);
  padding: 15px 30px;
  width: 100%;
  max-width: 40em;
  margin: 0 auto 25px auto;
  position: relative;
  top: -1000px;
  transition: 0.6s;
  align-self: flex-start;
}

.addData-container--show {
  top: 10px;
  transition: 0.6s;
}

.addData-dateInput {
  width: auto;
  border-bottom-color: rgb(222, 236, 145);
}

.addData-dateInput:focus {
  background: rgba(255, 255, 255, 0.171);
}

.addData-dateInput:invalid {
  border-bottom-color: rgb(231, 94, 79);
}

.login-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 25px 0 0;
  max-width: 216px;
  transition: 0.4s;
}
.login-container--moved {
  top: -180px;
  transition: 0.4s;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  transition: 0.4s;
}

.login-form--hidden {
  visibility: hidden;
  transition: 0.4s;
  transform: trnalsateY(-200px);
}

.loginLabel {
  color: #fff;
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0 5px 0;
  font-size: 0.8em;
}

.loginField {
  background: transparent;
  border: none;
  height: 2em;
  color: #fff;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
  transition: border-color .5s ease-out;
  outline: none;
}

.loginField:focus {
  background: rgba(255, 255, 255, 0.171);
}

.loginForm input:required {
  border-bottom-color: rgb(145, 236, 145);
}

.loginForm input:invalid {
  border-bottom-color: rgb(231, 94, 79);
}

.loginButton {
  background: transparent;
  border: 1px solid #fff;
  margin: 20px 0 0 0;
  color: #fff;
  font-size: 1em;
  padding: 6px 20px;
  cursor: pointer;
  transition: 0.4s;
}

.loginButton:hover {
  background: rgba(255, 255, 255, 0.171);
}

.loginButton:focus {
  background: rgba(255, 255, 255, 0.301);
}

.logoutButton {
  background: transparent;
  border: 1px solid #fff;
  margin: 20px 0 0 0;
  color: #fff;
  font-size: 1em;
  padding: 6px 20px;
  cursor: pointer;
  float: right;
  transition: 0.4s;
}

.logoutButton--hidden {
  visibility: hidden;
  transition: 0.4s;
}

.errorMessage {
  color: rgb(151, 21, 21);
  font-size: 1rem;
  text-align: center;
}